<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ad</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="wrap">
      <!--header-->
      <div id="header">
        <div class="containor" max="1860">
          <div id="logo">
            <a href="index.html">
              <img src="img/logo.png" alt="로고" />
            </a>
          </div>
          <div id="nav">
            <ul id="menu">
              <li><a href="">서비스소개</a></li>
              <li><a href="">사용법</a></li>
              <li><a href="">고객지원</a></li>
              <li><a href="">공지사항</a></li>
              <li><a href="">요금안내</a></li>
            </ul>
          </div>
          <div id="log">
            <button>로그인</button>
          </div>
        </div>
      </div>
      <!--section01-->
      <section id="section01">
        <div class="containor">
          <div class="txt_box">
            <h1 id="title">광고비 절약하고 효과는 극대화하세요</h1>
            <h2 id="sub_title">
              타사 대비 월 29,900원으로 누리는 최고의 가성비
            </h2>
          </div>
          <div class="scroll">
            <img src="img/scroll.png" alt="scroll" />
          </div>
          <div class="down">
            <img src="img/down.png" alt="down" />
          </div>
        </div>
      </section>
      <!--section02-->
      <section id="section02">
        <div class="containor">
          <div class="move">
            <h2 id="service">
              Our<br />
              Services
            </h2>
            <video loop="" autoplay="" muted="" overflow:hidden; width="80%">
              <source src="img/mv.mp4" type="video/mp4" />
            </video>
          </div>
          <div class="txt_bod2">
            <div class="ani">
              <div id="main_txt">
                <h1>복잡한 마케팅? 클릭 몇 번이면 끝!</h1>
              </div>
              <div id="sub_txt">
                복잡한 키워드 분석, 광고 설정은 AI에게 맡기고 성과만 확인하세요
              </div>
            </div>
            <div class="ani">
              <div id="main_txt"><h1>매출 상승을 위한 가장 쉬운 선택</h1></div>
              <div id="sub_txt">
                초보자도 쉽게 시작하는 스마트한 마케팅 솔루션
              </div>
            </div>
            <div class="ani">
              <div id="main_txt"><h1>최저가 보장! 효율은 두 배!</h1></div>
              <div id="sub_txt">
                타사 대비 월 29,900원으로 누리는 최고의 가성비
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--section03-->
      <section id="section03">
        <div class="containor"></div>
      </section>
      <!--footer-->
      <footer id="footer">
        <div class="containor"></div>
      </footer>
    </div>
  </body>
  <script>
    let observer = new IntersectionObserver((e) => {
      e.forEach((박스) => {
        if (박스.isIntersecting) {
          박스.target.style.opacity = 1;
        } else {
          박스.target.style.opacity = 0;
        }
      });
    });
    let ani = document.querySelectorAll(".ani");
    observer.observe(ani[0]);
    observer.observe(ani[1]);
    observer.observe(ani[2]);
  </script>
</html>
